{% extends 'main/base.html' %}

{%  block title %}
Home
{% endblock %}

{% block content %}
    <br>
    <h1>News Posts</h1>
    <hr>
    <br>
   <div  class="row view-group">

                <div class="item col-xs-4 col-lg-4 list-group-item" style="background-color: #33353d;">
                      <br>
                    <div class="thumbnail card"  style="background-color: #33353d;">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="">
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Post Title</h4>
                            <p class="group inner list-group-item-text">
                                Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row" style="float: left;">

                                <div class="col-xs-12 col-md-6">
                                    <br>
                                    <center>
                                     <a class="btn btn-secondary" href="http://www.jquery2dotnet.com" style="width:140px;">Read More</a>
                                    </center>
                                </div>

                            </div>
                             <br><br>
                        </div>
                        <div class="card"  style="background-color:#353a43;"><p><br>Tags:

    <a href="#"><button class="btn btn-info btn-sm" disabled>Snipp</button></a>
	<a href="#"><button class="btn btn-info btn-sm" disabled>Bootstrap</button></a>
	<a href="#"><button class="btn btn-info btn-sm" disabled>UI</button></a>
	<a href="#"><button class="btn btn-info btn-sm" disabled>growth</button></a>
	| <i class="fa fa-user" aria-hidden="true"></i> <a href="#">Admin</a>
	| <i class="fa fa-calendar" aria-hidden="true"></i>Sept 16th, 2012 at 4:20 pm
 	| <i class="fa fa-comments" aria-hidden="true"></i><a href="#">3 Comments</a>
   	| <i class="fa fa-share-square-o" aria-hidden="true"></i><a href="#">39 Shares</a>
</p></div>
                    </div>
    <div><br></div>
                </div>

   </div>


{% endblock %}